<div id="case1">
<table class="table table-bordered table-hover dataTable">
<thead>
	<tr>
		<th>No.</th>
		<th>Title</th>
		<th>Name</th>
		<th>Type</th>
		<th>Actions</th>
	</tr>
</thead>
<tbody>
<% @case1.each_with_index do |c,index|%>
<tr>
	<td><%= index+1 %></td>
	<td><%= link_to case_path(c) do%><%= c.case_title %><%end%></td>
	<td><%= c.user.user_profile.first_name.capitalize %> <%= c.user.user_profile.last_name.capitalize %></td>
	<td><%= c.case_type.case_type %></td>
	<td><%= link_to  active?(c),update_case_path(c),remote: true,method: :patch,title: "Activate/Deactivate Case" %></td>
</tr>
<% end %>
</tbody>
</table>
<%= will_paginate @case1 %>
</div>