<div id="user_case">

<div class="box box-primary">
<div class="box-header with-border">
<h3 class="box-title custom-header">Cases</h3>
<span class="label label-primary"><%= Case.count %></span>
		<ul class="nav nav-tabs pull-right">
			<li class=<%= tab_class(@tab, "all") %>>
				<%= link_to "All", admins_view_cases_path %>
			</li>
			<li class=<%= tab_class(@tab, "open") %>>
				<%= link_to "open", admins_view_cases_path(status: "open")%>
			</li>
			<li class=<%= tab_class(@tab, "closed") %>>
				<%= link_to "closed", admins_view_cases_path(status: "closed")%>
			</li>
		</ul>
</div>
<div class="box-body">
<% unless(@user_case.any?) %>
<b> No Record Found </b>
<% else %>
<table class="table table-bordered table-hover dataTable">
<thead>
	<tr>
		<th>No</th>
		<th>Title <%=get_order("case_title") %></th>
		<th>Name<%=get_order("user_profiles.first_name")%></th>
		<th>Type<%=get_order("case_types.case_type")%></th>
		<th>Actions</th>
	</tr>
</thead>
<tbody>
<% @user_case.each_with_index do |user_case, index|%>
<tr>
	<td><%= index+1 %></td>
	<td><%= link_to case_path(user_case) do%><%= user_case.case_title.capitalize %><%end%></td>
	<td><%= user_case.user.user_profile.first_name.capitalize %> 
	    <%= user_case.user.user_profile.last_name.capitalize %></td>
	<td><%= user_case.case_type.case_type.capitalize %></td>
	<td><%= active_case?(user_case)%></td>
</tr>
<% end %>
</tbody>
</table>
</div>
</div>
<%= will_paginate @user_case, renderer: BootstrapPagination::Rails, class: "pull-right" %>
</div>
<% end %>