<div class="box box-primary">
<div id="printableArea">
<% if @users.any? %>
<table class="table table-bordered table-hover dataTable">
	<thead>
		<tr>
		 	<th>No</th>
		 	<th>Email</th>
		 	<th>Role</th>
		 	<th>Confirm At</th>
		 	<th>Last Login At</th>
		 	<th>IP From Last Login</th>
		 	<th>Failed attempts</th>
		</tr>
	</thead>
	<tbody>
	<% @users.each.with_index do |user,index|%>
			<tr>
				<td><%= index+1 %></td>
				<td><%= user.email %></td>
				<td><%= user.role.title.titleize %></td>
				<td><%= user.confirmed_at.strftime("%d-%m-%Y %H:%M:%S")%></td>
				<td><%= user.last_sign_in_at.strftime("%d-%m-%Y %H:%M:%S") %></td>
				<td><%= user.last_sign_in_ip %></td>
				<td><%= user.failed_attempts %></td>
	    </tr>
	<% end %>
	</tbody>    
</table>
</div>
<input type="button" onclick="printDiv('printableArea')" value="Print" class="btn btn-primary pull-right"/>
<% else %>
<p> No Records Found</p>
<% end %>

</div>
<script type="text/javascript">
function printDiv(divName) {
     var printContents = document.getElementById(divName).innerHTML;
     var originalContents = document.body.innerHTML;

     document.body.innerHTML = printContents;

     window.print();

     document.body.innerHTML = originalContents;
}
</script>
