<h1>Cases</h1>
<table class="table table-hover">
<thead>
	<tr>
		<th>Id</th>
		<th>Title</th>
		<th>Client Name</th>
		<th>Type</th>
		<th>Actions</th>
	</tr>
</thead>
<tbody>
<% @cases.each do |c|%>
<tr>
	<td><%= c.id %></td>
	<td><%= link_to case_path(c) do%><%= c.case_title %><%end%></td>
	<td><%= c.user.user_profile.first_name %> <%= c.user.user_profile.last_name %></td>
	<td><%= c.case_type.case_type %></td>
	<td><%= link_to  active?(c),update_case_path(c),method: :patch %></td>
</tr>
<% end %>
</tbody>
</table>