<% @user_case.each do |user_case| %>
  <tr>
    <td><%= user_case.case_title %></td>
    <td><%= user_case.location%></td>
    <td><%= user_case.status%></td>
    <td> <%= link_to "purchase",send_purchase_mail_path(case1.id),{:method => "post"} if current_user.is_advocate? %></td>
    <% if current_user.is_client?%>
    <td><%= link_to case_path(user_case) do%><%= image_tag "detail.png", size: "20x40" ,class: "some class here",alt: "show" %>
    <% end %></td>
    <td><%= link_to edit_case_path(user_case) do%><%= image_tag "edit.png", size: "20x40" ,class: "some class here",alt: "Edit" %><%end%></td>
    <td><%= link_to user_case, method: :delete, data: { confirm: 'Are you sure?' } do %><%= image_tag "del.png", size: "20x40" ,class: "some class here",alt: "Edit" %><%end%></td>
	<td><%= link_to "purchase" , case_cases_path(user_case)   %> </td>    

    </tr>
<% end %>
