<% @cases.each do |user_case| %>
  <tr>
    <td><%= user_case.case_title %></td>
    <td><%= user_case.case_type.case_type %></td>
    <td><%= user_case.case_detail %></td>
    <td><%= user_case.location%></td>
    <td><%= user_case.case_type.amount %></td>
    <td><%= user_case.status%></td>
    <% if current_user.is_advocate? %>
      <td><%= link_to "Purchase", id_cases_path(user_case) %></td>
    <% elsif current_user.is_client? %>
      <td>
        <%= link_to case_path(user_case), class: "fa fa-fw fa-eye", title: "view" do %><% end %>
      </td>
      
      <td>
        <%= link_to edit_case_path(user_case), class: "fa fa-fw fa-pencil-square-o", title: "Edit" do %><%end%>
      </td>

      <td>
        <%= link_to user_case, method: :delete, data: { confirm: 'Are you sure?' }, class: "fa fa-fw fa-trash", title: "delete" do %><%end%>
      </td>
    <% end %>
  </tr>
<% end %>





