<% @cases.each do |case1| %>
  <tr>
    <td><%= case1.case_title %></td>
    <td><%= case1.location%></td>
    <td><%=case1.status%></td>
    <td> <%= link_to "purchase",send_purchase_mail_path(case1.id),{:method => "post"} if current_user.is_advocate? %></td>
    <% if current_user.is_client?%>
    <td><%= link_to case_path(case1) ,class: "fa fa-fw fa-eye", title: "view" do%>
    <% end %><td>
    <td><%= link_to edit_case_path(case1), class: "fa fa-fw fa-pencil-square-o", title: "Edit" do%><% end %></td>
    <td><%= link_to case1, method: :delete, data: { confirm: 'Are you sure?' },class: "fa fa-fw fa-trash", title: "delete" do %><%end%></td>
    <% end %>
    </tr>
<% end %>