<div id="user_case">
<% @user_case.each do |user_case| %>
<div class = "box box-primary"><!--start box 2 -->
  <div class = "box-header with-border ">
    <h3 class = "box-title custom-header"><%= user_case.case_title.titleize %></h3>
    <div class="pull-right">
      <% if current_user.id == user_case.user_id %>
      <%= link_to "",case_path(user_case),class: "fa fa-fw fa-eye", title: "view" %>
      <%= link_to "", edit_case_path(user_case) ,class: "fa fa-fw fa-pencil-square-o", title: "Edit" %>
      <%= link_to "",user_case, method: :delete, data: { confirm: 'Are you sure?' },class: "fa fa-fw fa-trash", title: "delete" %>
      <% end %>
      <%= link_to "<img src='paypal2.png' align='right'>".html_safe,case_cases_path(user_case) if current_user.is_advocate? %>
    </div><br>
   </div>
  <div class="box-body">
    <dl class="dl-horizontal">
    <dt><i class="fa fa-fw fa-location-arrow fa-lg"></i></dt><dd><%= user_case.location.titleize%></dd>
    <dt>Type</dt><dd><%= user_case.case_type.case_type.titleize%></dd>
    <dt>Amount</dt><dd><%= user_case.case_type.amount %>$</dd>
    <dt><i class="fa fa-flag fa-lg"></i></dt><dd><%= user_case.status.titleize%></dd>
    <dt><i class="fa fa-fw fa-file-text-o fa-lg"></i></dt><dd>

      <div><%= user_case.case_detail[0,20] %>
        <a data-toggle="collapse" data-target="#demo<%= user_case.id %>">read more</a>
        <div id="demo<%= user_case.id %>" class="collapse">
          <%= user_case.case_detail%>
        </div>
      </div>
  </div>
</div><br>
<% end %>
</div>