<%= form_for @case, html: { :multipart => true }  do |f| %>
<div class = "row">
  <div class = "col-md-6">
    <div class = "box box-primary"><!--start box 1 -->
      <div class = "box-header with-border">
        <h3 class = "box-title">Case Info</h3><br>
      </div>
      <div class = "box-body">
        <div class = "col-md-12">
          <div class = "form-group">
	          <%= f.label :Case_Type %>
	          <%= f.select :case_type_id,options_from_collection_for_select(CaseType.all, :id, :case_type),class: "form-control",id:"sel1" %>
          </div>

          <div class = "form-group">
            <%= f.label :Case_Title %>
            <%= f.text_field :case_title,class: "form-control",placeholder: "Enter Case title" %>
          </div>

          <div class = "form-group">
            <%= f.label :Case_detail %>
            <%= f.text_area :case_detail,class: "form-control",placeholder: "Enter Case detail" %>
          </div>
        </div>
      </div>
    </div>
  </div><!--end box 1 -->
    
  <div class = "col-md-6">
    <div class = "box box-primary"><!--start box 2 -->
      <div class = "box-header with-border">
        <h3 class = "box-title">Case Info</h3><br>
      </div>
      <div class = "box-body">
        <div class = "col-md-12">

          <div class = "form-group">
            <%= f.label :location %>
            <%= f.text_field :location,class: "form-control",placeholder: "Enter Case Location" %>
          </div> 
  
          <div class = "form-group">
            <%= f.label :status %>
            <%= f.text_field :status ,class: "form-control",placeholder: "Enter status" %></td>
          </div>
    
          <div class = "form-group">
            <%= f.label :documents_atteched %>    
            <% @documents.each do |document| %>
              <%= document.doc_file_name %>
              <%= link_to "Delete", document_cases_path(document), method: :delete, data: { confirm: 'Are you sure?' }  %><br>
            <% end %>
          </div>

          <div class = "form-group">
            <%= f.label :document %>
            <%= file_field_tag "document[]", type: :file, multiple: true %>
          </div>
        </div>
      </div>
      </div>
      <%= f.submit class: "btn btn-primary" %>    
    </div>
  </div>
<% end %>