<div class="row">
	<div class="col-md-3">
		<h2 style="display:inline">Cases</h2>
	</div>
	<div class="col-md-3">

		<%= select_tag :case_type_id,options_from_collection_for_select(CaseType.all, :id, :case_type,
            default_case_type(Case.first)),{class: "form-control",id: "type"} %>
		
		</div><div class="col-md-6">
			<%= render partial: "search_form" %>
		</div>
		<div class="col-md-12">
			<% if @user_case.present? %>
			<%= render partial: "cases" %>
			<%= will_paginate @user_case, renderer: BootstrapPagination::Rails, class: "pull-right" %>
			<% else %>
			<p>No matching result found</p>
			<% end %><br>
	</div>
</div>
<script type="text/javascript">
$('#type').change(function() {
  $.ajax({ type: "GET",   
           url: "<%= cases_path %>",
           data: {case_type: $('#type option:selected').text()},
  });
});
</script>