<h1>Cases</h1>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Title</th>
      <th>Location</th>
      <th>Status</th>
      <th colspan="1"></th>
    </tr>
  </thead>
   
  <tbody>
    <% @cases.each do |case1| %>
      <tr>
        <td><%= case1.case_title %></td>
        <td><%= case1.location%></td>
        <td><%=case1.status%></td>
        <td><%= link_to case_path(case1), class: "fa fa-fw fa-eye", title: "view" do%><% end %></td>
        <td><%= link_to edit_case_path(case1), class: "fa fa-fw fa-pencil-square-o", title: "Edit" do%><% end %></td>
        <td><%= link_to case1, method: :delete, data: { confirm: 'Are you sure?' }, class: "fa fa-fw fa-trash", title: "delete" do %><%end%></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'New Case', new_case_path %>
