<h1>Cases' Details</h1>
<%= render partial: "search_form" %>
  <% if @cases.blank? %>
    <%= flash[:notice] %>
  <% else %>
  <table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Type</th>
      <th>Description</th>
      <th>Location</th>
      <th>Amount</th>.
      <th>Status</th>
      <th colspan="3">Actions</th>

    </tr>
  </thead>
  <tbody>
    <%= render partial: "cases" %>
  </tbody>
  </table>
   <%= will_paginate @cases, renderer: BootstrapPagination::Rails, class: "pull-right"%>
<%= link_to 'New Case', new_case_path %>
<% end %>