<p id="notice"><%= notice %></p>
<table>

	<tr>
	<td>Advocate  id</td> <td><%=@case.advocate_id%>
	</tr>
  <tr>
	<td>Client_id</td> <td><%=@case.client_id%>
</tr>

<tr>
	<td>Case Title</td> <td><%=@case.case_title%>
	</tr>

<tr>
	<td>Detail</td> <td><%=@case.case_detail%>
	</tr>
<tr>
	<td>Location</td> <td><%=@case.location%>
	</tr>
<tr>
	<td>staus</td> <td><%=@case.status%>
	</tr>




</table>
