<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title custom-header">Case Details</h3>
  </div>

  <div class="box-body">
 
    <ul class="todo-list ui-sortable">
      <li>
        <span class="handle ui-sortable-handle">
          <h4><i class="fa fa-fw fa-list"></i></h4>
        </span>
        <span class="text">
          <h4><%= @user_case.case_title.titleize %></h4>
        </span>
      </li>
      
      <li>
        <span class="handle ui-sortable-handle">
          <h4><i class="fa fa-fw fa-location-arrow"></i></h4>
        </span>
        <span class="text">
          <h4><%= @user_case.location %></h4>
        </span>
      </li>
      
      <li >
        <font color=<%= case_status_style(@user_case) %>>
        <span class="handle ui-sortable-handle">
          <h4><i class="fa fa-flag"></i></h4>
        </span>
        <span class="text">
          <h4><%= @user_case.status %></h4>
        </span>
      </font>
      </li>
	      
    <% if Payment.where(case_id: @user_case.id,user_id: current_user.id).any? || @user_case.user_id == current_user.id %>
      <li>
        <span class="handle ui-sortable-handle">
          <h4><i class="fa fa-fw fa-file-text-o"></i></h4>
        </span>
        <span class="text">Details</span>
          <h5><%= @user_case.case_detail %></h5>
        
      </li>

       <li>
        <% if @user_case.user.id == current_user.id %>
        <span class='handle ui-sortable-handle'><i class='fa fa-fw fa-paperclip fa-lg'></i></span>
        <span class="text">Attachments</span><br><% @user_case.documents.each do |document| %>
              <%= document.doc_file_name %>
              <%= link_to "Delete", document_cases_path(document,action1:'show'), method: :delete, data: { confirm: 'Are you sure?' }  %><br>
            <% end %></span>
        <%else%>
        <span class="text"><%= show_documents %></span>
        <%end%>
      </li>
  <% end %>
  
</div>
</div>
   

<% if Payment.where(case_id: @user_case.id,user_id: current_user.id).any?  %>
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title custom-header">Client Details</h3>
    </div>
    <div class="box-body">
  <ul class="todo-list ui-sortable">
  <li>
    <span class="handle ui-sortable-handle">
      <h4><i class="fa fa-user"></i></h4>
    </span>
    <span class="text">
      <h4>
        <%= @user_case.user.user_profile.first_name.titleize %> <%= @user_case.user.user_profile.last_name.titleize %>
      </h4>
    </span>
  </li>
    
  <li>
    <span class="handle ui-sortable-handle">
      <h4><i class="fa fa-fw fa-male"></i></h4>
    </span>
    <span class="text">
      <h4><%= @user_case.user.user_profile.gender %></h4>
    </span>
  </li>

  <li>
    <span class="handle ui-sortable-handle">
      <h4><i class="fa fa-fw fa-mobile-phone"></i></h4>
    </span>
    <span class="text">
      <h4><%= @user_case.user.user_profile.mobile_no %></h4>
    </span>
  </li>
    
  <li>
    <span class="handle ui-sortable-handle">
      <h4><i class="fa fa-fw fa-map-marker"></i></h4>
    </span>
    <span class="text">
      <h4>
        <%= @user_case.user.user_profile.address.titleize %><br>
        <%= @user_case.user.user_profile.city.titleize %> - <%= @user_case.user.user_profile.pincode %>
      </h4>
    </span>
  </li>
  
    
      <% end %>


  </div>
</div>
<%= link_to 'Back',:back, class: "btn btn-primary" %>
</div>
</div>