<div class = "col-md-8">
  <h1>Case Detail</h1>
  <table class = "table table-bordered table-hover"> 
    <tr>
      <td>Case Title</td>
      <td><%= @case.case_title %></td>
    </tr>
    <tr>
	    <td>Detail</td> 
      <td><%= @case.case_detail %></td>
	  </tr>
    <tr>
	    <td>Location</td> 
      <td><%= @case.location %></td>
	  </tr>
    <tr>
	    <td>status</td> <td><%= @case.status %></td>
    </tr>
    <tr>
 	    <td>Documents</td>
 	    <td><%= show_documents %></td>
    </tr>
<<<<<<< HEAD
  </table>
=======
</table>



<%=link_to 'Back', cases_path,class: "btn btn-primary" %>
</div>
>>>>>>> kb-issue-15.dev

  <%= link_to 'Back', cases_path, class: "btn btn-primary" %>
</div>
