<h2>user profile</h2>
<%= rating_for @feedback,"ratings",:disable_after_rate => true, :enable_half => true,
    :half_show => true %>
<table>
<tr><td>Ratings:</td>
<td>  <%= imdb_style_rating_for @feedback, current_user, "ratings" %></td>
</tr>
<tr><td>Profile Pic: </td><td><%= image_tag(@avatarsrc) %></td></tr>	
<tr><td>Id: </td><td><%= @user_profile.id %></td></tr>
<tr><td>First Name: </td><td><%= @user_profile.first_name %></td></tr>
<tr><td>Last Name: </td><td><%= @user_profile.last_name %></td>	</tr>
<tr><td>Gender: </td><td><%= @user_profile.gender %></td>	</tr>
<tr><td>Mobile No: </td><td><%= @user_profile.mobile_no %></td>	</tr>
<tr><td>Address: </td><td><%= @user_profile.address %></td>	</tr>
<tr><td>City: </td><td><%= @user_profile.city %></td>	</tr>
<tr><td>pincode: </td><td><%= @user_profile.pincode %></td>	</tr>
<tr><td>Qualification: </td><td><%= @user_profile.qualification %></td></tr>	
<tr><td>Experience: </td><td><%= @user_profile.experience %></td>	</tr>
</table>

<%= link_to "Edit",edit_user_profile_path(@user_profile) %>

