
<div class= "col-md-8">
	<h1>user profile</h1>
</div>
		<p>
			
		<table class="table table-bordered table-hover">
		<tr><td>Profile Pic: </td><td><%= image_tag(@avatarsrc) %></td></tr>	
		<tr><td>Id: </td><td><%= @user_profile.id %></td></tr>
		<tr><td>First Name: </td><td><%= @user_profile.first_name %></td></tr>
		<tr><td>Last Name: </td><td><%= @user_profile.last_name %></td>	</tr>
		<tr><td>Gender: </td><td><%= @user_profile.gender %></td>	</tr>
		<tr><td>Mobile No: </td><td><%= @user_profile.mobile_no %></td>	</tr>
		<tr><td>Address: </td><td><%= @user_profile.address %></td>	</tr>
		<tr><td>City: </td><td><%= @user_profile.city %></td>	</tr>
		<tr><td>pincode: </td><td><%= @user_profile.pincode %></td>	</tr>
		
		<tr><td>Experience: </td><td><%= @user_profile.experience %></td>	</tr>
		</table>
		</p>
		
			<p>
		<%= link_to "Edit", edit_user_profile_path(@user_profile), class: "btn btn-primary "%>
		</p>