<aside class="main-sidebar">
 <section class="sidebar" style="height: auto;">
          <!-- Sidebar user panel -->
          <div class="user-panel">
            <div class="pull-left image">
              <%= avatar_display({class: "img-circle"}) %>
            </div>
            <div class="pull-left info">
                <p><%=user_name %></p>
                <a href="#"><i class="fa fa-circle text-success"></i>Online</a>
            </div>
          </div>
          <br><br>
          <ul class="sidebar-menu">
            
            <% if current_user.is_system_admin? %>
            <li class="treeview">
              <%=link_to  admins_view_advocates_path  do %>
              <i class="fa fa-users"></i> <span>Advocates</span> <i class="fa fa-angle"></i>
               <% end %>
            </li>

          <li class="treeview">
              <%=link_to  admins_view_clients_path  do %>
              <i class="fa fa-users"></i> <span>clients</span> <i class="fa fa-angle"></i>
               <% end %>
            </li>

            <li class="treeview">
              <%=link_to  admins_view_cases_path  do %>
                <i class="fa fa-fw fa-files-o"></i> <span>Cases</span> <i class="fa fa-angle"></i>
               <% end %>
            </li>

            <li class="treeview">
              <%=link_to   admins_user_log_path   do %>
                <i class="fa fa-fw fa-files-o"></i> <span>User Log Report</span> <i class="fa fa-angle"></i>
               <% end %>
            </li>

            <% end %>

            <% if current_user.is_client? %>
            <li class="treeview">
              <%= link_to new_case_path do %>
              <i class="fa fa-file-text-o"></i> <span>New Case</span> <i class="fa fa-angle"></i>
              <% end %>
            </li>

             <li class="treeview">
              <%= link_to user_profiles_path do %>
               <i class="fa fa-users"></i> <span>Advocates</span> <i class="fa fa-angle"></i>
              <% end %>
            </li>   

            <% end %>

          
           <li class="treeview">
            <%=advocate_links %>
           </li>

            <li class="treeview">
            <% if current_user.is_advocate? || current_user.is_client? %>
              <%= link_to cases_path do %>
              <i class="fa fa-fw fa-files-o"></i> <span>Cases</span> <i class="fa fa-angle"></i>
              <% end %>
          <% end %>


              <li class="treeview">
               <a><i class="fa fa-user"></i> <span>Profiles</span> <i class="fa fa-angle-left pull-right"></i>
               </a>
                  <% if current_user.user_profile!=nil %>
           
          
           <ul class="treeview-menu">
            <li class="treeview">
              <%= link_to user_profile_path(current_user.user_profile.id) do %>
               <i class="fa fa-circle-o"></i> <span>My Profile</span> <i class="fa fa-angle"></i>
              <% end %>
              <li>
            

           <li class="treeview">
              <%= link_to  edit_user_profile_path (current_user.user_profile.id)  do %>
               <i class="fa fa-circle-o"></i> <span>Edit Profile</span> <i class="fa fa-angle"></i>
              <% end %>
          
            </li>
          </ul>  
          <% end %>
         </li>
          <li class="treeview">
              <%= link_to destroy_user_session_path,method: :delete do %>
               <i class="fa fa-sign-out"></i><span>Logout</span>
              <% end %>
            </li>
        </section>
      </ul>
    </aside>